html, body {
  height: 100%;
  overflow: hidden; 
  /* background-image: url('../images/backgroupnd.jpg'); */
}

#title {
    padding-left: 24px !important;
}

#content {
  padding: 10px 80px;
  height: 100%;
}

#email, #github {
  flex: 1;
  margin: 10px;
  max-width: 30%;
}

ul.skills {
  margin: 0;
}

ul.skills li {
  display: inline;
  margin-right: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 640px) {
  #summary {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  #content {
    padding: 10px 40px;
  }
}